{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block main_content %}
    <h1 class="govuk-heading-xl">
        Apply for a Companies House presenter account for online filing (prototype)
    </h1>

    <p class="govuk-body">
        Use this service to apply for a presenter account to file online with Companies House using third-party software.
        You can only use a presenter account to file documents without a fee.
    </p>

     {{ govukDetails({
            summaryText: "If you've lost your preseter account details",
            html: "You'll need to use this service to apply for a new account. <br> <a href={{'#'}} class='govuk-link'>Contact us</a> if you have any questions about your account."
        }) 
    }}

    <h6 class="govuk-heading-s">
        You cannot use this service to:
    </h6>

    <ul class="govuk-list govuk-list--bullet">
        <li>apply for a presenter credit account to file documents with a fee</li>
        <li>register as a lender to file electronic charge documents</li>
    </ul>

    <p class="govuk-body">
        For these, you will need to <a href={{'#'}}>complete an application form.</a>
    </p>

     <p class="govuk-body">
        You'll need to sign in or create a Companies House account to use this service. It takes around 5 minutes to apply.
    </p>

    {{ govukButton({
        text: "Start now",
        href: "#",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
    }) }}

    <p class="govuk-body">
       <a href={{'#'}}>Read advice from AbilityNet on how to adapt your device to meet your needs.</a>
    </p>

    <p class="govuk-body">
        For example changing the background colour or text size.
    </p>
{% endblock %}