{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block main_content %}
    <h1 class="govuk-heading-xl" id="presenter-account--title">
        {{title}}
    </h1>

    <p class="govuk-body">
        Use this service to apply for a presenter account to file company accounts and documents with Companies House using software.
    </p>

    {{ govukInsetText({
            html: "You can only use a presenter account to file company accounts and documents that <strong>do not have a filing fee</strong>."
        }) 
    }}

    <p class="govuk-body">
        You'll need to sign in or create a Companies House account to use this service. It takes around 5 minutes to apply.
    </p>

    {{ govukButton({
        text: "Start now",
        href: Urls.ENTER_YOUR_DETAILS,
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true,
        id: "submit"
    }) }}

    {% set presenterAccountDetailsText %}
    Use this service to submit an application. We will send you new account details.
    </br></br>
    <a href="{{ExternalUrls.CONTACT_COMPANIES_HOUSE}}">Contact us</a> if you have any questions about your account.
    {% endset %}

    {{ govukDetails({
        summaryText: "What to do if you’ve lost your presenter account details",
        html: presenterAccountDetailsText
    }) }}

    <p class="govuk-body">
        <a href="{{ExternalUrls.ABILITY_NET}}" class="govuk-link">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. 
        For example, changing the background colour or text size.
    </p>
{% endblock %}