{% extends "layouts/default.njk" %}

{% block main_content %}
    <h1 class="govuk-heading-xl">{{ i18n.confirm_company_title }}</h1>

    <h1 id="company-name-header" class="govuk-heading-l">{{ companyName }}</h1>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ i18n.company_number }}
            </dt>
            <dd class="govuk-summary-list__value" id="company-number">
                {{ companyNumber }}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ i18n.companyStatus }}
            </dt>
            <dd class="govuk-summary-list__value" id="company-status">
                {{ status | capitalize }}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ i18n.incorporated_on }}
            </dt>
            <dd class="govuk-summary-list__value" id="incorporated-on">
                {{ incorporatedOn | Formatters.date }}
            </dd>
        </div>
    </dl>

    <form method="POST">
        <input type="hidden" name="company_number" value="{{ companyNumber }}">
        <button id="confirm-company-button" type="submit" class="govuk-button" data-module="govuk-button" data-event-id="presenter-account-is-business-registered-continue">
            {{ i18n.confirm_button }}
        </button>

    </form>

    <p>
        <a id="choose-a-different-company-link" href="{{ PrefixedUrls.COMPANY_SEARCH }}" class="govuk-link" data-event-id="presenter-account-is-business-registered-choose-different">{{ i18n.choose_different }}</a>
    </p>


{% endblock %}