{% extends "layouts/default.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block main_content %}
    {{ govukPanel({
        titleText: i18n.application_submitted
    }) }}

    <h2 class="govuk-heading-m">{{ i18n.what_happens_next }}</h2>

    <p class="govuk-body"> {{ i18n.info_text_start }} <span class="govuk-!-font-weight-bold">{{ userEmail }}</span> {{ i18n.info_text_end }}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ i18n.presenter_id }}</li>
        <li>{{ i18n.presenter_code }}</li>
    </ul>

    <p class="govuk-body">{{ i18n.email_feedback }}</p>

    <p class="govuk-body">{{ i18n.secure_info }}</p>
{% endblock %}