{% extends "layouts/default.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block main_content %}
    {{ govukPanel({
        titleText: "Application submitted"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We'll create your presenter account. We'll send an email to <span class="govuk-!-font-weight-bold">{{ userEmail }}</span> with your:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>presenter ID</li>
        <li>presenter code</li>
    </ul>

    <p class="govuk-body">This can take up to an hour. If you have not received an email after an hour, check your junk folder.</p>

    <p class="govuk-body">You must keep your presenter ID and code secure. You will need them to file using software. </p>
{% endblock %}