{% extends "layouts/shell.njk" %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Internal server error
        </h1>
        <div class="govuk-!-margin-top-8">
            <p>Sorry there is a problem with the service</p>
            <p>Try again later.</p>
            <p>If the problem continues <a href="#" class="govuk-link">contact {support channel}</a></p>
        </div>
    </div>

{% endblock %}
