{% extends "layouts/default.njk" %}
{% set error = true %}

{% block main_content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ i18n.sorry_there_is_a_problem }}
            </h1>
            <p class="govuk-body">
                {{ i18n.try_again }}
            </p>
            <p class="govuk-body">
                {{ i18n.email_us_prelink }} <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">{{ i18n.email_us_link }}.</a>
            </p>
        </div>
    </div>

{% endblock %}
