{% if userEmail %}
    {% set email = userEmail | default("Not signed in") %}
    <ul class="signout-bar" id="navigation">
        <li class="content-email" id="signed-in-user">{{email}}</li>
        <li class="content">
            <a class="govuk-link" href="{{ExternalUrls.SIGNOUT}}" data-event-id="sign-out-button-selected" id="user-signout">Sign Out</a>
        </li>
    </ul>
    <script src="//{{ cdn.host }}/javascripts/app/session-timeout.js"></script>
{% endif %}
