{% extends "layouts/default.njk" %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block main_content %}

        <form class="form" action="{{Urls.ENTER_YOUR_DETAILS}}?lang={{lang}}" method="POST">
            {{
                csrfTokenInput({
                    csrfToken: csrfToken
                })
            }}
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        {{ i18n.tell_us_your_contact_details_title }}
                    </h1>
                </legend>
                <p class="govuk-hint">{{ i18n.tell_us_your_contact_details_title_info }}</p>
                {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_page_first_name
                    },
                    classes: "govuk-input govuk-!-width-two-thirds",
                    id: "forename",
                    name: "forename",
                    value: name.forename,
                    errorMessage: { text: errors['forename'].summary } if errors['forename'] else null
                    }) 
                }}
                {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_page_last_name
                    },
                    classes: "govuk-input govuk-!-width-two-thirds",
                    id: "surname",
                    name: "surname",
                    value: name.surname,
                    errorMessage: { text: errors['surname'].summary } if errors['surname'] else null
                    }) 
                }}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        {{ i18n.enter_your_details_page_title }}
                    </h1>
                </legend>
                <p class="govuk-hint">{{ i18n.enter_your_details_page_title_info }}</p>
                {{ govukInput({
                        label: {
                            text: i18n.enter_your_details_property_input_title,
                            classes: "govuk-label"
                        },
                        hint: {
                            text: i18n.enter_your_details_property_input_title_info
                        },
                        id: "premises",
                        name: "premises",
                        value: address.premises,
                        errorMessage: { text: errors.premises.summary } if errors.premises.summary else null
                    }) 
                }}
                {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_address_line_1_input_title
                    },
                    id: "address-line-1",
                    name: "addressLine1",
                    value: address.addressLine1,
                    errorMessage: { text: errors['address-line-1'].summary } if errors['address-line-1'] else null
                    }) 
                }}
                {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_address_line_2_input_title
                    },
                    classes: "govuk-!-width-full",
                    id: "address-line-2",
                    name: "addressLine2",
                    value: address.addressLine2,
                    errorMessage: { text: errors['address-line-2'].summary } if errors['address-line-2']else null
                    }) 
                }}
                 {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_town_input_title
                    },
                    classes: "govuk-input govuk-!-width-two-thirds",
                    id: "town-or-city",
                    name: "townOrCity",
                    value: address.townOrCity,
                    errorMessage: { text: errors['town-or-city'].summary } if errors['town-or-city'] else null
                    }) 
                }}
                 {{ govukInput({
                    label: {
                        text: i18n.enter_your_details_postcode_input_title
                    },
                    classes: "govuk-input govuk-input--width-10",
                    id: "post-code",
                    name: "postCode",
                    value: address.postCode,
                    errorMessage: { text: errors['post-code'].summary } if errors['post-code'] else null
                    }) 
                }}
                {{ govukSelect({
                    id: "country",
                    name: "country",
                    classes: "govuk-!-width-two-thirds",
                    value: address.country,
                    errorMessage: { text: errors['country'].summary } if errors['country'] else null,
                    label: {
                        text: i18n.enter_your_details_country_input_title
                    },
                    items: countries
                    }) 
                }}
                {{ govukButton({
                    text: i18n.enter_your_details_button_title,
                    type: "submit",
                    id: "submit",
                    attributes: {'data-event-id': 'presenter-account-enter-your-details-continue'},
                    preventDoubleClick: true,
                    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                    }) 
                }}
            </fieldset>
        </form>
    {% endblock%}