{% extends "layouts/default.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block main_content %}
    <h1 class="govuk-heading-l">{{i18n.check_your_answers_before_submit}}</h1>

    {% macro renderAddress(address) %}
        {{ address.premises }}<br>
        {{ address.addressLine1 }}<br>
        {% if address.addressLine2 %}
            {{ address.addressLine2 }}<br>
        {% endif %}
        {{ address.townOrCity }}<br>
        {{ address.country }}<br>
        {{ address.postCode }}
    {% endmacro %}


    {{ govukSummaryList({
        "rows": [
            {
                "key": {
                    "text": i18n.address
                },
                "value": {
                    "html": renderAddress(address)
                },
                "actions": {
                    "items": [
                        {
                                "href": Urls.ENTER_YOUR_DETAILS,
                                "text": i18n.change,
                                attributes: {'data-event-id': 'selected-change'},
                                "visuallyHiddenText": "address"
                        }
                    ]
                }
            }
        ]
    }) }}

    <form action="{{Urls.CHECK_DETAILS}}" method="POST">
        <button class="govuk-button" data-module="govuk-button" type="submit" id="submit" data-event-id="presenter-account-check-details-submit">
            {{i18n.submit}}
        </button>
    </form>
{% endblock %}