{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main_content %}
    {% if errors[filingFeeFieldName] %}
      {% set errorMessage = {
        text: errors[filingFeeFieldName].summary
      } %}
    {% else %}
      {% set errorMessage = undefined %}
    {% endif %}
    <form method="POST" action="{{Urls.APPLY_TO_FILE_OPTIONS}}">
        {{ govukRadios({
            name: filingFeeFieldName,
            fieldset: {
                legend: {
                    text: "Do you need to file any accounts or documents that have a filing fee?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "no",
                    html: "No - I only need to file accounts and documents <strong>without a filing fee</strong>"
                },
                {
                    value: "yes",
                    html: "Yes - I need to file accounts and documents <strong>with a filing fee</strong>"
                }
            ],
            errorMessage: errorMessage
        }) }}
    

        {% set details_html %}
            <p> There is a fee to file accounts for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>overseas companies </li>
                <li>community interest companies (CIC)</li>
            </ul>
            <p>You should check the documents you need to file. If there is a filing fee, it will say on the document itself. </p>
        {% endset %}

        {{ govukDetails({
            summaryText: "Accounts and documents that have a filing fee",
            html: details_html
        }) }}

        {% set inset_text_html %}
            <p>If you need to file electronic charge (mortgage) documents, you will need to <a href="{{ applyToRegisterAsLenderLink }}">apply to register as a lender</a> instead. </p>
        {% endset %}

        {{ govukInsetText({
            html: inset_text_html
        }) }}

        {{ govukButton({
            type: "submit",
            text: "Continue"
        }) }}
    <form />
{% endblock %}


